<a href="https://colab.research.google.com/github/yeoul2023/NoteSnatcher/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_26_02_13_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
print("Hello world!")
# 단축키
# ctrl+/ 누르면 주석 토글
#
#
#
#

Hello world!

**마크다운  NEW 문법**

```python
print("hello world")
```

# Ch.0 파이썬은 계산기다!

In [151]:
1+1

2

In [152]:
3-5

-2

In [153]:
5/2

2.5

In [154]:
type(2) #int 는 integer의 줄임말

int

In [155]:
type(2.1)

float

In [156]:
5//2 # 몫을 뱉는 연산

2

In [157]:
#아니면

int(5/2)

2

In [158]:
15%2 #나머지 연산이다.

1

In [159]:
2**10 #2의 10승

1024

In [160]:
print(0b011) #0b는 뒤에 나온 숫자가 2진수 라는 뜻
print(0xA) #0x는 뒤에 나온 숫자가 16진수라는 뜻

3
10

In [161]:
a=10 #a라는 이름의 변수에 10을 넣는다.
print(a)
a=1
print(a)

10
1

In [162]:
a="Hello World" # 확실히 수학에서의 등호와는 다르다.
print(a)

Hello World

In [163]:
a1=1
a2=3
a3=3
# 1a=10 # 변수 명에서 숫자가 맨 앞에 올 수 있다.

In [164]:
a=3
A=4
print(a); print(A) #대소문자 구별된다. 한줄에 쓰려면 ; 로 구별 해야한다.

3
4

In [165]:
# del a # a라는 변수를 지운다.
# print(a)

In [166]:
a=1
a+=5
print(a)
# a=a+5 와 동일한 표현이다.

6

In [167]:
a=1
a *=2
print(a)

2

In [168]:
a /=1.2
print(a)

1.6666666666666667

# Ch.1 진화된 계산기다!

In [169]:
a=1
a==1 #a가 1이냐?

True

In [170]:
a>3

False

In [171]:
a>=5

False

In [172]:
a is not 1 #a가 1이 아니냐?

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-1488539404.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  a is not 1 #a가 1이 아니냐?

False

In [173]:
a!=1 #a가 1이 아니냐?

False

In [174]:
a is 1

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-3222642818.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 1

True

In [175]:
"Python" == "python"

False

In [176]:
x=3
print(x>1 and x<5)
print(x>1 or x<5)
print(not x>1)


print(bool(1)) #1 은 불 대수에서 true, 0은 false 이다.
print(bool(0))

True
True
False
True
False

# Ch.2 여러 개를 한 변수에 넣을 수 없을까?? 리스트!

In [177]:
a=[1,2,3] #list 라고 함
print(a)

[1, 2, 3]

In [178]:
a=[1,2,3]
b=[3,4,5]
print(a+b) # list 영역에서 더하기는 쌓기이다!!

[1, 2, 3, 3, 4, 5]

In [179]:
a= [4, "ㅋ", 6]
print(a)

[4, 'ㅋ', 6]

In [180]:
c=[] #빈 리스트
c.append # c라는 변수가 가지고 있는 메쏘드 사용인데 나중에 또 설명
c.append("하하")
c.append(3)
print(c)

['하하', 3]

In [181]:
a=[]
a+=[3]

In [182]:
print(a)

[3]

# **range** 는 반복문의 친구

In [183]:
a=range(3)
print(type(a))

<class 'range'>

In [184]:
range(10) # 반복문의 친구이며, 0부터 9까지 값을 만든다.
a=list(range(10)) #range를 list로 바꿔줌
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [185]:
b=list(range(1,10)) #1부터 9까지 마지막 숫자 하나가 빠진다. 11미만 까지.
print(b)
c=list(range(1,11,2))
print(c)
print(list(range(10,0,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## **튜플**

In [186]:
a=(1,"ㅋ",3)
b=[1,2,3]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [187]:
print(list(range(10)))
print(tuple(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [188]:
int(2.9)
float(1)
bool(1)

True

# in 은 있냐? 를 물어봄.

In [189]:
a= list(range(10))
b= tuple(range(10))
c=range(10)
print(1 in a) #a에 1이 있나??
print(15 in a)
print(1 not in b) # b에 1이 없나?
print(15 in b)
print(5 in c)

True
False
False
False
True

In [190]:
s = "Hello"
print("h" in s)
print("H" in s)

False
True

# 리스트의 기본 연산과 인덱싱

In [191]:
a=[1,2,3]
b=a+a
c=a*3
d=a*(12//4)
print(a)
print(c)
print(b)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [192]:
a=[1,2,3]
print(len(a)) #len은 length

3

In [193]:
s="hello"
s2=["hello"]
print(s)
print(len(s)) #len() 안에 문자열이 들어오면 문자의 개수를 알려주고
#len() 안에 리스트가 들어오면 리스트에 들어있는 항목의 개수를 알려준다.
print(s2)
print(len(s2)) # 왜 하나일까? 리스트의 길이를 알려주는 것이라서.

hello
5
['hello']
1

In [194]:
a=[1,2,3]
print(a[0]) #a[i]: i 번째의 값을 가리킨다. 이런 것을 인덱싱이라고 한다.
print(a[0],a[1],a[2])
print(a[-1])

print(a[-1]==a[2])

1
1 2 3
3
True

In [195]:
r=range(0,10,2) #range로 인덱싱 됨
print(r[0], r[1], r[2])

0 2 4

In [196]:
a=[1,2,3]
a[0]=3
a[1]=5
a[2]=10
print(a)

[3, 5, 10]

In [197]:
# a=(1,2,3)
# a[0]=1 #imutable
# 튜플을 수정할 수 없다!!

In [198]:
a=[1,2,3]
del a[1] # 리스트에서 제거하는 것.
print(a)

[1, 3]

# 굉장히 많이 쓰이는 슬라이스!

In [199]:
a=[1,2,3,4,54,5,6,6,6,3]
b=a[0:3] #0부터 3번째 미만까지! 포함한다.
print(b)

print(c[1:7:2]) # 2간격으로 포함한다. 1부터 7미만 까지

print(a[:4])
print(a[4:])

[1, 2, 3]
[2, 1, 3]
[1, 2, 3, 4]
[54, 5, 6, 6, 6, 3]

In [200]:
a=[33,2,5,6,6,2,2,3,5,3.2,5,8]

print(a[3::3])
print(a[::3])
print(a[::]==a[:])

[6, 2, 3.2]
[33, 6, 2, 3.2]
True

# 딕셔너리! 사전처럼 키와 값이 존재함.

In [201]:
dic1 ={ "a":1, "b":2, 100:"4", 200:"gg"} #중괄호다. 그리고 콜론(:)이 들어간다.
#키 : 값이고 숫자 문자 뭐든 키 값이 될 수 있다.
#키 에는 수정할 수 없는 튜플도 되고 리스트는 안된다.
# 값에는 튜플도 되고 리스트도 된다.
print(dic1)
print(dic1["a"], dic1['b']) #무조건 키에 대해서만, 인덱싱이 가능하다.
print(len(dic1)) #네 쌍이라서 4

print(dic1.keys())
print(dic1.values())
print(dic1.items())

{'a': 1, 'b': 2, 100: '4', 200: 'gg'}
1 2
4
dict_keys(['a', 'b', 100, 200])
dict_values([1, 2, '4', 'gg'])
dict_items([('a', 1), ('b', 2), (100, '4'), (200, 'gg')])

#zip

In [202]:
a=dict(zip(["a","b"],[1,2])) #dictionary로 표현형을 바꿔줘라!
print(a)

{'a': 1, 'b': 2}

In [203]:
dic1={"a":1,"b":2,"c":3,"d":4}
dic1["a"]=100; dic1["b"]=200; dic1["c"]=300; dic1["d"]=400
print(dic1)

# 딕셔너리에 값을 변환하기.

dic1["e"]=499
print(dic1)

#추가하기

print("a" in dic1) #a라는 키가 있나?
print(100 in dic1) # 값이 있냐고 물어보면 딕셔너리는 키 기준이기 때문에 false라고 한다.

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 499}
True
False

# Ch 3 조건문

In [204]:
a=5
if a>3:
    print("3보다 큽니다.")

if a<3:
    print("3보다 작습니다.")

if a==5:
    print("a는 5 입니다.")

3보다 큽니다.
a는 5 입니다.

In [205]:
x=15
if x>10:
    print("10보다 크다.")
    if x==15:
        print("15와 동일하다.")
    if x==20:
        print("20 입니다.")

10보다 크다.
15와 동일하다.

In [206]:
x=15
if x<10:
    print("x는 10보다 작습니다.(10미만)")
else:
    print("그 이외 (10 이상)")
    print("else도 들여쓰기 영역 모두 실행")

그 이외 (10 이상)
else도 들여쓰기 영역 모두 실행

In [207]:
if True:
    print("여기로 들어온다.")
else:
    print("여기로 안들어온다.")
if 1:
    print("여기로 들어온다.")
else:
    print("여기로 안들어온다.")

여기로 들어온다.
여기로 들어온다.

In [208]:
if False:
    print("여기로 안들어온다.")
else:
    print("여기는 들어온다.")

if 0:
    print("0은 false취급")
else:
    print("여긴 들어옴. 0은 부정이니까! 그 이외의 숫자는 트루이다.")

if 133333333:
    print("여기로 들어온다.")
else:
    print("여기로 안들어온다.")

여기는 들어온다.
여긴 들어옴. 0은 부정이니까! 그 이외의 숫자는 트루이다.
여기로 들어온다.

In [209]:
if "아항":
    print("글자가 있으면 트루 취급")
else:
    print("무시")

if "":
    print("빈 문자는 false 취급")
else:
    print("비었으면 이거 출력")

글자가 있으면 트루 취급
비었으면 이거 출력

In [210]:
print(bool(1))
print(bool(0))
print(bool(""))
print(bool("dk"))

True
False
False
True

In [211]:
a=1
b=2
if a>0 and b>0:
    print("둘다 맞아야 들어옴")
else:
    print("둘 중 하나라도 안 맞으면 여기로")

둘다 맞아야 들어옴

In [212]:
a=-1
b=2
if a>0 or b>0:
    print("둘 중 하나 맞아야 들어옴")
else:
    print("둘 다 안 맞으면 여기로")

둘 중 하나 맞아야 들어옴

In [213]:
x=19
if 0<x<20:
    print("부등호 연달아 써도 됨")

부등호 연달아 써도 됨

In [214]:
x=19
if 0<x<10:
    print("10보다 작다")
elif x<50:
    print("아니면 50보다 작은가?")

아니면 50보다 작은가?

#반복문

In [215]:
for i in range(5):
    print("hello 5번 반복")

hello 5번 반복
hello 5번 반복
hello 5번 반복
hello 5번 반복
hello 5번 반복

In [216]:
for i in range(5): # range(5) 0,1,2,3,4 로부터 i라는 이름으로 하나씩 꺼내서 그 i에 대해 아래를 실행하라.
    print(i)

0
1
2
3
4

In [217]:
for i in range(3,9,2):
    print(i)

3
5
7

In [218]:
for i in (reversed(range(10))):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [219]:
for i in [0,3,2,1,44.5,3]:
    print(i)

0
3
2
1
44.5
3

In [220]:
a=["apple","banana","carrot","d","e"]
for i in a:
    print(i)

apple
banana
carrot
d
e

In [221]:
a="Hello" #문자열
for i in a:
    print(i,end="") #end에 아무것도 치지 말라.

Hello

In [222]:
a="Hello" #문자열
for i in a:
    print(i)

H
e
l
l
o

In [223]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

#while

In [224]:
i=0
while i<5: #i가 5보다 작은 동안에 반복적으로 실행한다.
    print(i)
    i+=1
print()
print("i=",i)
# print("\n") 이게 내장되어 있음.

0
1
2
3
4

i= 5

In [225]:
i=0
while True:
    print(i)
    i+=1
    if i == 5:
        break #가장 가까운 반복문을 뿌순다.

0
1
2
3
4

In [226]:
for i in range(100000):
    print(i)
    if i==5:
        break


print(i)

0
1
2
3
4
5
5

# break 를 이용하여 중간 과정에서 검증할 수 있다.

In [227]:
for i in range(10):
    if i % 2 ==0:
        continue # 건너뛰어라. 즉 해당 반복을 무시하고 다시 반복한다.
    print(i)

1
3
5
7
9

In [228]:
i=0
while i<10:
    i+=1
    if i%2==0:
        continue # i가 2의 배수이면 다시 반복 2번째 줄로 돌아간다.
        print("뛰어넘고")
    print(i)

1
3
5
7
9

In [229]:
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i, "번째에", a[i],"가 들어있어요.")

0 번째에 1 가 들어있어요.
1 번째에 2 가 들어있어요.
2 번째에 3 가 들어있어요.
3 번째에 4 가 들어있어요.
4 번째에 5 가 들어있어요.

#for문과 자주 쓰이는 enumerate

In [230]:
a=[1,2,3,4,5]
j=1
for i in a:
    print(j,"번째에", i ,"가 들어가 있어요")
    j+=1

1 번째에 1 가 들어가 있어요
2 번째에 2 가 들어가 있어요
3 번째에 3 가 들어가 있어요
4 번째에 4 가 들어가 있어요
5 번째에 5 가 들어가 있어요

In [231]:
a=[1,2,3,4,5]
for i, val in enumerate(a,start=1): #start 값을 설정하고 인덱승와 값을 동시에 줄 수 있는 것이 enumerate
    print(i,"번째에", val,"가 들어있어요.")

1 번째에 1 가 들어있어요.
2 번째에 2 가 들어있어요.
3 번째에 3 가 들어있어요.
4 번째에 4 가 들어있어요.
5 번째에 5 가 들어있어요.

# 반복문 과제

In [232]:
print("*")
print("**")
print("***")
print("****")
print("*****")
a="*"
for i in range(5):
    print(a)
    a+="*"

*
**
***
****
*****
*
**
***
****
*****

In [233]:
for i in range(6):
    for i in range(i):
        print('*',end="")
    print()


for i in range(1,6):
    print("*"*i)

*
**
***
****
*****
*
**
***
****
*****

In [234]:
i="*"
j=1
while True:
    print(i*j)
    j+=1
    if j==6:
        break


i="*"
while i!="*****":
    print(i)
    i+="*"

*
**
***
****
*****
*
**
***
****

# 리스트 심화 버전

In [235]:
a=[1,2,3]
a.append([4,5])
print(a,"len(a)=",len(a))

#append는 하나의 원소만 추가 가능하다.

[1, 2, 3, [4, 5]] len(a)= 4

In [236]:
#extend 는 대괄호 없이 길어진다.
a=[1,2,3]
a.extend([4,5])
print(a,"len(a)=",len(a))

[1, 2, 3, 4, 5] len(a)= 5

In [237]:
a=[1,2,3]
a+=[4,5]
print(a,"len(a)",len(a))

[1, 2, 3, 4, 5] len(a) 5

In [238]:
a=[1,2,3]
a.insert(1,[100,200]) #index, 넣을거
print(a)

#insert는 원하는 위치에 넣을 수 있다.

[1, [100, 200], 2, 3]

In [239]:
#잘못된 예시
a=[1,2,3]
b=[100,200]
a[1]=b
print(a)

[1, [100, 200], 3]

In [240]:
# 잘된 예시

a=[1,2,3]
b=[100,200]
a[1:2]=b
print(a)

[1, 100, 200, 3]

In [241]:
a=[1,2,3,5,6]
a.pop()
a.pop(1)
print(a)

#pop은 기본저긍로 맨 오른쪽에 있는 값이 빠져나간다.
#괄호 안에 특정 인덱스가 있으면 그 숫자가 사라짐.

[1, 3, 5]

In [242]:
a=[1,2,3,5,6]
a.remove(3)
a.remove(1)
print(a)

#괄호에 있는 특정 값을 없앤다.

[2, 5, 6]

In [243]:
a=[1,2,3,4,5,3]
a.index(3)

#가장 처음에 나오는 3의 인덱스 값을 출력한다

2

In [244]:
a=[1,2,3,4,5,5,2]
a.count(2)

# list에 2가 몇개가 있는지 세준다.

2

In [245]:
a=[1,2,3,4,5]
a.reverse()
print(a)

#리스트 안에 있는 값을 리버스 취하여 역 리스트를 만들어낸다.

[5, 4, 3, 2, 1]

In [246]:
a=[1,3,3,54,5,5,6,2]
a.sort()
print(a)


# 오름차순으로 정리해준다.

[1, 2, 3, 3, 5, 5, 6, 54]

In [247]:
a=[1,3,3,54,5,5,6,2]
a.sort(reverse=True)
print(a)

# 내림 차순으로

[54, 6, 5, 5, 3, 3, 2, 1]

In [248]:
a=[2,3,5,4]
a.clear()
print(a)

# list값 삭제.

[]

In [249]:
a=[1,3,4,5]
b=a
b[1]=10
print("a=",a,"b=",b)

#이름이 두개인 하나의 리스트

a= [1, 10, 4, 5] b= [1, 10, 4, 5]

In [250]:
a=[1,2,4,4]
b=a.copy()
a is b #is 결과가 true이면 같이 바뀐다.
b[1]=10
print("a=",a,"b=",b)

a= [1, 2, 4, 4] b= [1, 10, 4, 4]

In [251]:
a=[3,4,5,2]
print(min(a))
print(max(a))
print(sum(a))
print(round(2.4532,3))

2
5
14
2.453

#list 표현식

In [252]:
a=[i for i in range(5)] # range(5)안의 값들을 각각 i라는 값으로 불러오고 i값으로 리스트를 형성한다.
print(a)

[0, 1, 2, 3, 4]

In [253]:
a=[i+5 for i in range(5)]
print(a)


# [2,3,4,5,5]+5 더하기 개념을 리스트에 적용시키고 싶은 경우!!

[5, 6, 7, 8, 9]

In [254]:
a=[i**3 for i in range(5)]   #range(5) 안의 값들을 i라는 이름으로 불러오고, i**2값을 리스트를 형성한다.
print(a)

[0, 1, 8, 27, 64]

In [255]:
a=[i-j for i in range(1,4) for j in range(1,4)]
print(a)



# a=[]
# for i in range(1,4):
#     for j in range(1,4):
#         a.append(i-j)

[0, -1, -2, 1, 0, -1, 2, 1, 0]

In [256]:
a=[i for i in range(10) if i%2==0] #range (10)안에 있는 값을 i로 불러오고
#i 마다 조건문을 보고 짝수이면 i값으로 리스트를 형성하라.
print(a)

[0, 2, 4, 6, 8]

# 리스트 속에 리스트

In [257]:
a=[[1,2,3],[4,6]] #이건 행렬이 아니고 리스트 안에 리스트가 있는 것일 뿐이다.
# 즉 하나의 리스트 안에 다른 리스트가 있다고 생각하면 됨.
print(a, "len(a)=", len(a))


print(a[0])
print(a[1][0]) # a[1]에서 [0]번째의 값을 출력하면 4가 나오겠네

[[1, 2, 3], [4, 6]] len(a)= 2
[1, 2, 3]
4

In [258]:
a=[[1,2,3],[4,5,6]]
for i in a:
    print(i)


for x,y,z in a:
    print(x,y,z)

    #하나씩 할당시킨다.


for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end=" ")

    print()

[1, 2, 3]
[4, 5, 6]
1 2 3
4 5 6
1 2 3
4 5 6

In [259]:
a=[]
for i in range(3):
    line=[]
    for j in range(2):
        line +=[0]
    a +=[line]


print(a)

[[0, 0], [0, 0], [0, 0]]

In [260]:
a=[]
for i in range(3):
    b=[[0,0]]
    a+=b
print(a)

[[0, 0], [0, 0], [0, 0]]

In [261]:
a=[[j*0,j*0] for i in range(3) for j in range(1)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [262]:
a=[[0 for _ in range(2)] for _ in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [263]:
a=[3,1,3,2]
b=[]
for i in a:
    b+=[([0]*i)]

print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [264]:
a=[3,1,3,2]
b=[[[0]*i] for i in a]
print(b)

[[[0, 0, 0]], [[0]], [[0, 0, 0]], [[0, 0]]]

#2차원 배열의 카피

In [265]:
a=[[1,2],[3,4]]
b=a.copy()
b[0][0]=100
print(a,b)


# 단순 a의 method copy를 이용하면 전체가 카피 되지 않기 때문에 같은 리스트를 공유한다.

[[100, 2], [3, 4]] [[100, 2], [3, 4]]

In [266]:
import copy
a=[[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0]=100
print(a);print(b)

[[1, 2], [3, 4]]
[[100, 2], [3, 4]]

# 헷갈리는 리스트 표현식 --> 앞에서부터 써내려가면서 for문을 만들면 된다!

In [267]:
print ([i for i in range(3) for j in range(3)])

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [268]:
print([[i for i in range(3)] for _ in range(3)])

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

#print 응용

In [269]:
a=1
b=2
c="ㅋㅋ"

print("a =",a,"b =",b,"c =",c)

a = 1 b = 2 c = ㅋㅋ

In [270]:
a=1
b=2
c="ㅋㅋ"

print("a={}, b={}, c={}".format(a,b,c))

a=1, b=2, c=ㅋㅋ

In [271]:
a=1
b=2
c="ㅋㅋ"

print("a={num1}, b={num2}, c={str}".format(num1=a,num2=b,str=c))

a=1, b=2, c=ㅋㅋ

In [272]:
## 제일 추천 ##

a=1
b=2
c="ㅋㅋ"
print(f"a= {a}, b={b},c={c}")

a= 1, b=2,c=ㅋㅋ

#텍스트 파일 만들고 쓰기.

In [273]:
import os
folder_name="saved"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)


with open("saved/Hello.txt","w") as f: # with은 해당 파일이 열린채로, w 은 write해라. 근데 w는 파일이 없어도 실시간으로 만든다.ㅏ
    f.write("Hello world!")
    f.write("Hello world!2")
    f.write("Hello world!3")

In [274]:
with open ("saved/Hello.txt","r") as f:
        s=f.readlines() #한줄씩 리스트에 넣는다.
        print(s)

len(s)

['Hello world!Hello world!2Hello world!3']

1

In [275]:
with open("saved/Hello.txt","r") as f:
    for i in range(3):
        s=f.readlines() #for랑 같이 써서 한줄씩 읽는다.
        print(s)
        len(s)

['Hello world!Hello world!2Hello world!3']
[]
[]

In [276]:
with open("saved/Hello.txt","r") as f:
    line=None #None으로 해야 공백("")과 구별이 돼서 while이 돈다.
    while line !="":
        line= f.readline()
        print(line,end="")

Hello world!Hello world!2Hello world!3

#함수

In [277]:
def f(x): #x라는 이름의 변수를 입력으로 받아서 x**2를 출력하는 f라는 이름의 함수를 정의해라.
    return x**2


f(-2)   #funcrion call. print 라는 함수를 여태 부른 것이다.

4

In [278]:
def say():
    print("Hello world")
say()
say()
say()
say()

Hello world
Hello world
Hello world
Hello world

In [279]:
def add(a,b):
    print(a+b)
add(1,3)

4

In [280]:
def add(a,b):
    return a+b

c= add(1,2)
print(c)

3

In [281]:
def f(a):
    a=5


a=3
f(a)
print(a)

def f(x):
    x[0]=5

    # 내부에서 리스트 자체에 접근하면 (mutable 하면 속 값이 변해서 밖에서도 변해있음.)

a=[1,2]
f(a)
print(a)

# call by assignment

3
[5, 2]

In [282]:
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d #python은 리턴 값을 2개를 출력 할 수 있다.

x,y=add_sub(13,22) # 하나로 받으면!? 튜플로 묶어서 준다.
print(x,y)

35 -9

In [283]:
def add(a,b):
    return a+b
def mul(a,b):
    return a*b

def show_addmul(a,b):
    print(add(a,b))
    print(mul(a,b))

show_addmul(10,20)

30
200

In [284]:
x=(10,20)
print(x)
print(*x)  # 언패킹: 튜플을 없애주는 것이다. -> 10, 20으로 변환.

# show_addmul(x) 이건 지금 입력을 2개를 넣어야 하는데 지금 튜플 1팩을 넣었기 때문에 입력 값 하나가 부족함.

show_addmul(*x)

(10, 20)
10 20
30
200

In [285]:
def my_func(a):
    print(f"a에는 {a}가 들어가 있다. 타입은 {type(a)}")


my_func(2)

a에는 2가 들어가 있다. 타입은 <class 'int'>

In [286]:
def my_func(*a):
    print(f"a에는 {a}가 들어가 있다. 타입은 {type(a)}")


my_func() #-----> *a는 a를 튜플로 패킹되어있다!!! 즉, a가 튜플로 패킹되어 있으니까, *를 붙인다음 언패킹 시켜서 넘겨주고, type은 tuple이다.

a에는 ()가 들어가 있다. 타입은 <class 'tuple'>

In [287]:
def my_func(a):
    print(f"a에는 {a}가 들어가 있다. 타입은 {type(a)}")


my_func()

TypeError: my_func() missing 1 required positional argument: 'a'

In [ ]:
def my_func(a):
    print(f"a에는 {a}가 들어가 있다. 타입은 {type(a)}")


my_func(2,3,2)

In [ ]:
def my_func(*args):
    print(f"args에는 {args}가 들어가 있다. 타입은 {type(args)}이다.")
    for i in args:
        print(i)


my_func("구독자1")


my_func("구독자1", "구독자 2, 구독자 3")

In [ ]:
def introduce(name, age, address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}에 살고 있습니다.")


introduce("홍길동",20,"서울")
introduce("홍길동","어수",10) #문제가 발생

In [ ]:
def introduce(name, age, address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}에 살고 있습니다.")

introduce(name="홍길동",age=20,address="서울")

# 람다표현식

In [ ]:
def plus_ten(x):
    return x+10

plus_ten(10)

In [ ]:
plus_ten=lambda x: x+10 #입력이 x이고 출력이 x+10
plus_ten(10)

In [ ]:
(lambda x: x+10)(10)

In [288]:
def plus_ten(x):
    return x+10

a=list(map(plus_ten,[1,2,3]))  #map은 함수를 입력으로 받는 함수이다.
#넣을 녀석들 (list)를 넣어주면 여러번 call해서 값을 얻는다.
print(a)


print(list(map(lambda x: x+12,[1,2,3])))
#

[11, 12, 13]
[13, 14, 15]

In [289]:
#입력이 2개일 경우 람다 식

f=lambda a,b:a+b
f(10,20)

30

In [290]:

f=lambda a,b:a+b
C=list(map(f,[1,2,3],[2,3,4]))
print(C)

[3, 5, 7]

In [291]:
def add_1(a,b):
    c=1
    return a+b+c

print(add_1(10,20))


# lambda a,b:a+b+c def안에서 변수 선언해서 지역변수로 사용할 수 있는데 람다는 불가능 하다!!

31

In [292]:
def func(x):
    if x%2 ==0:
        return 2*x
    else:
        return x

print(list(map(func,[1,2,3,4])))

f=lambda x:2*x if x%2==0 else x
print(list(map(f,[1,2,3,4])))

#f=lambda x:x*2 if x%2==0 #람다 표현식에서 if 썼으면 반드시 else도 필요

[1, 4, 3, 8]
[1, 4, 3, 8]

In [293]:
def func(x):
    if x==1:
        return 2*x
    elif x==2:
        return 3*x
    else:
        return x

print(list(map(func,[1,2,3,4])))

b=lambda x: x*2 if x==1 else 3*x if x==2 else x #elif 는 else 와 if의 조합이다.
print(list(map(b,[1,2,3,4])))

[2, 6, 3, 4]
[2, 6, 3, 4]

# class!!!!!!!!!!!!!!!!!!!!!!!!!!!(리스트, 변수도 다 클래스로 분류되고 각각의 메쏘드를 가지고 있다.)

In [294]:
# 로봇을 만든다고 해보자. 로봇의 키가 몇이고 몸무게가 몇이고 안녕이라고 말하면서 인사를 하는 기능이 있고... 클래스는 좀 큰 변수를 만든다고 보면 된다.
#a=1은 숫자 한 개 들어간 변수
# a에 숫자 한개도 넣고 리스트도 넣고 그 것들을 가지고 기능을 하는 함수를 만들어 놓고 할 순 없을까~!??

#객체 지향 프로그래밍. object oriented programing

class Robot:
    def greeting(self): #메서드(method): 클래스 내부 함수, 첫번쨰 매개 변수는  무조건 self(인스턴스 자기 자신)
        print("Hello")



bot1 = Robot() #Robot 이라는 클래스에 해당하는 instance 만들기(실체화) 나중에는 입력도 넣을거라 () 붙여야함.

bot1.greeting()

Hello

In [295]:
class Robot:
    def __init__(self): #__init은 함수 호출하면 바로 나오는 애
        self.sentence = "안뇽"
        #self는 만들어진 인스턴스 자기자신 자체를 가리킴.
        #self.무엇은 self 내부의 것(변수, 함수)를 가리킴.
        #클래스 내부의 변수는 attribute라고 한다.

    def greeting(self):
        #print(sentence)라고 하면 error가 뜬다.
        print(self.sentence)


bot1=Robot() #호출
bot1.greeting()

안뇽

In [296]:
class Robot:
    def __init__(self, height, sentence): #밖에서 넘어오는 매개변수는 무조건 self 뒤에
        self.height =height #self.height는 밖에서 들어온 것이다. height랑 다f른 것임. self.height라는건 자기 자신에게 부여하겠다는 의미.
        self.sentence = sentence

    def greeting(self):
        print(self.sentence)
        print(f"제 키는 {self.height}이에요")


bot1 = Robot(180,"안녕") #self에는 값이 들어가지 않는다.
bot1.greeting()

print(bot1.height) #밖에서 속성 확인
print(bot1.sentence) #속성 확인

bot1.height-=10
bot1.greeting()

안녕
제 키는 180이에요
180
안녕
안녕
제 키는 170이에요

In [297]:
#class 수정 금지로 바꾸는 법

class Robot:
    def __init__(self, height, sentence):
        self.__height = height #비공개로 만들고 싶은 속성은 앞에 밑줄 두개!!!
        self.sentence = sentence

    def greeting(self):

        print(self.sentence)
        self.__height-=10  #class내부에선 비공개 해도 변환시킬 수 있따.
        print(f"제 키는 {self.__height}이에요")


bot1=Robot(180,"hi")
bot1.greeting()
#@print(bot1.height) #보이지 않는다. 밖에서 존재 자체를 알수 없음.
print(bot1.sentence)
# bot1.__height-=10 __height는 비공개라서 바꿀수도 없음.

hi
제 키는 170이에요
hi

In [298]:
#상속-->효율화


class Robot: #부모 클래스
    def greeting(self):
        print("안녕하세요")

class Study_bot(Robot): #자식 클래스, Robot클래스를 상속 받음 --> robot이 # 가지는 함수 사용가능!!
    def study(self):
        print("공부합니다")

bot1=Study_bot()
bot1.greeting() #ㄴstudy_bot 클래스에서는 greeting이 없지만 물려받았기 때문에 사용가능
bot1.study()

안녕하세요
공부합니다

In [299]:
class Robot: #부모 클래스
    def greeting(self):
        print("안녕하세요")

class Study_bot(Robot): #자식 클래스, Robot클래스를 상속 받음 --> robot이 # 가지는 함수 사용가능!!
    def greeting(self):
        print("method overriding success.")

bot1=Study_bot()
bot1.greeting()

method overriding success.

In [300]:
class Robot: #부모 클래스
    def greeting(self):
        print("안녕하세요")

class Study_bot(Robot): #자식 클래스, Robot클래스를 상속 받음 --> robot이 # 가지는 함수 사용가능!!
    def greeting(self):
        super().greeting() #super()가 부모 클래스를 가리킴. #부모의 것을 사용하는 것이 가능하다.
        print("method overriding success.") #부모의 원래 기능은 유지하고 거기에 덧 붙이고 싶을때, 오버라이딩 사용가능.

bot1=Study_bot()
bot1.greeting()

안녕하세요
method overriding success.

In [301]:
class Robot:
    def func1(self):
        print("부모 클래스의 func1이 실행됐다.")
        self.money=100

class Study_bot(Robot):
    def func2(self):
        print("자식의 클래스의 fubc2 실행")
        self.book =10

bot1=Study_bot()
bot1.func1() #이걸 꼭 써야 money에 100 저장 자녀 class에서 부모의 함수를 실행해야 상속이 됨.
bot1.func2()
print(bot1.money) #부모 클래스에 attribute가 저장된다.
print(bot1.book)
#

부모 클래스의 func1이 실행됐다.
자식의 클래스의 fubc2 실행
100
10

In [302]:
#딥러닝 코드에선 아래와 같은 코드를 많이 보게 된다.


class Robot:
    def __init__(self):
        print("부모 클래스의 init 실행")
        self.money =100

    def test(self):
        print("hi")

class Study_bot(Robot):
    def __init__(self):
        super().__init__()  #이렇게 내부에서 실행해줘야 부모 클래스 attribute를 상속 받는다.
        print("자식 클래스의 init실행")
        self.book =10

bot_parant=Robot()
print(bot_parant.money)

bot_child=Study_bot()
print(bot_child.book)

print(bot_child.money)
bot_child.test()

부모 클래스의 init 실행
100
부모 클래스의 init 실행
자식 클래스의 init실행
10
100
hi

In [303]:
class Robot:
    def greeting(self):
        print("로봇입니다.")


class Life:
    def eat(self):
        print("냡냡")


class Study_bot(Robot, Life):
    def study(self):
        print("열심열심")


bot1=Study_bot() #Robot 클래스(개념)에 해당하는 instance를 만듦.
bot1.greeting()
bot1.eat()
bot1.study()

로봇입니다.
냡냡
열심열심

이터레이터, 하나씩 왼쪽에서부터 꺼낸다!

In [304]:
a=[1,2,3]
a_it=iter(a)
print(type(a_it))
print(next(a_it))
print(next(a_it))
print(next(a_it))

<class 'list_iterator'>
1
2
3

In [305]:
a=[1,2,3]
a_it=(next(iter(a)))
print(a_it)

1